@{
    ViewBag.Title = "Admin Dashboard";
}

<header class="main-header text-center">
    <h1 class="main-title">Admin Dashboard</h1>
</header>

<section class="mid-section">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="small-box" id="small-box-1">
                <div class="inner">
                    <h3>150</h3>
                    <p>Total Users</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-down"></i>
                </a>
            </div>

            <div id="small-box-details-1">
                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Users Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Users Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Deleted Users Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div id="small-box-2" class="small-box">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Total Public Polls</p>
                </div>
                <div class="icon">
                    <i class="fa fa-sticky-note" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-down"></i>
                </a>
            </div>

            <div id="small-box-details-2">
                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Public Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Public Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Deleted Public Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="small-box" id="small-box-3">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Total Private Polls</p>
                </div>
                <div class="icon">
                    <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-down"></i>
                </a>
            </div>

            <div id="small-box-details-3">
                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Private Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Private Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Deleted Private Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="small-box" id="small-box-4">
                <div class="inner">
                    <h3>65</h3>
                    <p>Total Unique Visitors</p>
                </div>
                <div class="icon">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-down"></i>
                </a>
            </div>

            <div id="small-box-details-4">
                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Unique Visitors Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Page Views</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Page Views Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#small-box-1 .small-box-footer").click(function () {
                if ($("#small-box-details-1").css("display") == "none") {
                    $("#small-box-details-1").slideDown(400, function() {
                        $("#small-box-1 .small-box-footer").html("Hide details <i class='fa fa-arrow-circle-up'></i>");
                    });
                } else {
                    $("#small-box-details-1").slideUp(400, function() {
                        $("#small-box-1 .small-box-footer").html("Show details <i class='fa fa-arrow-circle-down'></i>");
                    });
                }
            });

            $("#small-box-2 .small-box-footer").click(function () {
                if ($("#small-box-details-2").css("display") == "none")
                    $("#small-box-details-2").slideDown(400);
                else
                    $("#small-box-details-2").slideUp(400);
            });

            $("#small-box-3 .small-box-footer").click(function () {
                if ($("#small-box-details-3").css("display") == "none")
                    $("#small-box-details-3").slideDown(400);
                else
                    $("#small-box-details-3").slideUp(400);
            });

            $("#small-box-4 .small-box-footer").click(function () {
                if ($("#small-box-details-4").css("display") == "none")
                    $("#small-box-details-4").slideDown(400);
                else
                    $("#small-box-details-4").slideUp(400);
            });
        });
    </script>
}


@*<div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                    70% Increase in 30 Days
                </span>
            </div>
        </div>
    </div>*@