@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <header class="main-header text-center">
            <h1 class="main-title">Simple Voter</h1>
            <p class="main-description">Create custom polls with live results.</p>
            @Html.ActionLink("Sing Up", "Register", "Account", null, new { @class = "btn btn-custom btn-white" })
        </header>

        <section class="mid-section">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-4">
                    <img src="/Content/images/bolt.png" class="img-responsive index-icon center-block" />
                    <h2 class="text-center">Live Results</h2>
                    <p class="text-center">Live graphs show your poll results immediately in an easy to understand format. One graph will not provide the whole picture, that's why we provide multiple graph types to better describe your results.</p>
                </div>
                <div class="col-sm-4">
                    <img src="/Content/images/earth.png" class="img-responsive index-icon center-block" />
                    <h2 class="text-center">Works Everywhere</h2>
                    <p class="text-center">Traditional desktop computers now represent only 30% of Internet traffic. Your poll must work on the tablets, smart phones, netbooks and notebooks that your visitors are using. Our responsive designs do just that.</p>
                </div>
                <div class="col-sm-4">
                    <img src="/Content/images/checkbox.png" class="img-responsive index-icon center-block" />
                    <h2 class="text-center">Simplicity</h2>
                    <p class="text-center">Very attractive desing and simple, intuitive interface. Easy to understand behavior and effect without use of reason, experimentation, assistance, or special training. Create polls fast and easy.</p>
                </div>
            </div>
        </section>
    </div>
</div>