<footer>
    <div class="footer-container">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 no-padding">
            <div class="col-xs-12 col-sm-1 text-center">
                <a target="blank" href="https://github.com/Grygier94/SimpleVoter" id="footer-github" class="transition"><i class="fa fa-github fa-lg"></i></a>
            </div>
            <div class="col-xs-12 col-sm-1 text-center">
                <a target="blank" href="https://web.facebook.com/" id="footer-facebook" class="transition"><i class="fa fa-facebook fa-lg"></i></a>
            </div>
            <div class="col-xs-12 col-sm-1 text-center">
                <a target="blank" href="https://twitter.com/" id="footer-twitter" class="transition"><i class="fa fa-twitter fa-lg"></i></a>
            </div>
            <div class="col-xs-12 col-sm-1 text-center">
                <a target="blank" href="https://plus.google.com/" id="footer-google-plus" class="transition"><i class="fa fa-google-plus fa-lg"></i></a>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-5">
                <p class="text-center">Copyright &copy; @DateTime.Now.Year - Simple Voter</p>
            </div>
        </div>
    </div>
</footer>