@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<header class="main-header text-center">
    <h1 class="main-title no-spacing">Forgot Password Confirmation</h1>
    <p class="main-description">Confirm your request.</p>
    <div class="dashboard-buttons">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Browse Polls", "ShowPublicPolls", "Polls", null, new { @class = "btn btn-custom btn-white danger-hover" })
    </div>
</header>

<section class="mid-section text-center">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <h1>Please check your email to reset your password.</h1>
            <img class="envelope-img img-responsive" src="~/Content/images/Email-Send.png" alt="Email sent"/>
    </div>
</section>
