@model string

@{
    ViewBag.Title = "Email confirmation";
}

<header class="main-header text-center">
    <h1 class="main-title no-spacing">Email Confirmation</h1>
    <p class="main-description">Confirm your email adress.</p>
</header>

<section class="mid-section text-center">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <h1> Thank You for registering. We sent You the email with confirmation link.</h1>
            <img class="envelope-img img-responsive" src="~/Content/images/Email-Send.png" alt="Email sent" />
    </div>
</section>