@{
    ViewBag.Title = "Reset password confirmation";
}

<header class="main-header text-center">
    <h1 class="main-title no-spacing">Reset Password Confirmation</h1>
    <p class="main-description">Password has been reset.</p>
    <div class="dashboard-buttons">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Browse Polls", "ShowPublicPolls", "Polls", null, new { @class = "btn btn-custom btn-white danger-hover" })
    </div>
</header>

<section class="mid-section text-center">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <h1>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h1>
        <img class="done-img img-responsive" src="~/Content/images/Done.png" alt="Email opened" />
    </div>
</section>