@{
    ViewBag.Title = "Admin Dashboard";
}

<header class="main-header text-center">
    <h1 class="admin-title">Admin Dashboard</h1>
    <div class="dashboard-buttons">
        @Html.ActionLink("Users", "ShowUsers", "Admin", null, new { @class = "btn btn-custom btn-white danger-hover" })
        @Html.ActionLink("Polls", "ShowAllPolls", "Polls", null, new { @class = "btn btn-custom btn-white danger-hover" })
    </div>

</header>

<section class="mid-section">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="small-box">
                <div class="inner">
                    <h3>150</h3>
                    <p>Total Users</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Show details <i class="fa fa-arrow-circle-down"></i>
                </a>
            </div>

            <div class="small-box-details">
                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Users Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Users Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Deleted Users Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="small-box">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Total Public Polls</p>
                </div>
                <div class="icon">
                    <i class="fa fa-sticky-note" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Hide details <i class="fa fa-arrow-circle-up"></i>
                </a>
            </div>

            <div class="small-box-details">
                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Public Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Public Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Deleted Public Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="small-box">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Total Private Polls</p>
                </div>
                <div class="icon">
                    <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Hide details <i class="fa fa-arrow-circle-up"></i>
                </a>
            </div>

            <div class="small-box-details">
                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Private Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">New Private Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Deleted Private Polls Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="small-box">
                <div class="inner">
                    <h3>65</h3>
                    <p>Total Unique Visitors</p>
                </div>
                <div class="icon">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">
                    Hide details <i class="fa fa-arrow-circle-up"></i>
                </a>
            </div>

            <div class="small-box-details">
                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Unique Visitors Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Page Views</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>

                <div class="info-box bg-orange">
                    <span class="info-box-icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Page Views Today</span>
                        <span class="info-box-number">1,410</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <canvas id="statisticsChart" height="100"></canvas>
        </div>
    </div>
</section>

@section scripts
{
    <script>

    $(document).ready(function () {
        var ctx = document.getElementById("statisticsChart").getContext('2d');

        var labels = ['test', 'test2'];
        var data = [11, 22];
        var colors = ['rgba(255, 206, 86, 1)', 'rgba(54, 162, 235, 1)'];
        @*@foreach (var d in Model.Answers)
            {
                @:labels.push("@d.Content");
                @:data.push("@d.Votes");
            }*@

        var myChart = new Chart(ctx,
            {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Votes',
                            data: data,
                            backgroundColor: colors,
                            borderColor: colors,
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    legend: {
                        display: false
                    }
                }
            });
        });

        $(".small-box .small-box-footer").click(function (e) {
            e.preventDefault();
            var details = $(this).parent().next();
            var footer = $(this);
            if (details.css("display") == "none") {
                details.slideDown(400, function() {
                    footer.html("Hide details <i class='fa fa-arrow-circle-up'></i>");
                });
            } else {
                details.slideUp(400, function () {
                    footer.html("Show details <i class='fa fa-arrow-circle-down'></i>");
                });
            }
        });
    </script>
}


@*<div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green">
            <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number">41,410</span>

                <div class="progress">
                    <div class="progress-bar" style="width: 70%"></div>
                </div>
                <span class="progress-description">
                    70% Increase in 30 Days
                </span>
            </div>
        </div>
    </div>*@