@using Newtonsoft.Json
@using SimpleVoter.Core.Enums
@using SimpleVoter.Core.Models
@model SimpleVoter.Core.Models.PagingInfo
@{
    ViewBag.Title = "PollList";
    var jsonData = JsonConvert.SerializeObject(new PollTableInfo { PagingInfo = Model, SearchText = ""});
}

<header class="main-header text-center">
    <h1 class="main-title">Poll list</h1>
    <p class="main-description">List of all public polls made by users around the world.</p>
</header>

<section id="pollListSection">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group search-bar">
            <span class="input-group-btn" data-toggle="tooltip" title="Clear search" data-placement="top">
                <button id="clearSearch" class="btn btn-blue" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
            </span>
            <input id="inputSearch" type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn" data-toggle="tooltip" title="Search" data-placement="top">
                <button id="btnSearch" class="btn btn-blue" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
        </div>
        <div id="pollTableContainer">
            @{ Html.RenderAction("RenderPollTable", "Polls", new { json = jsonData });}
        </div>
    </div>
</section>

@section scripts
{
    <script>
        _sortBy = 0;
        _sortDirection = 0;
        _searchText = "";

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip(); 
            $("#pollTable tr th:first-child i").css("color", "yellow");

            $("#pollTableContainer").on("click",
                "tr:not(:first-child)",
                function (e) {
                    window.location.href = "/Polls/Details/" + e.currentTarget.id;
                });

            $("#pollTableContainer").on("click",
                "th:first-child",
                function (e) {

                    var icon = e.currentTarget.children[0];
                    if (icon.classList.contains("fa-sort-amount-asc")) {
                        _sortBy = 0;
                        _sortDirection = 1;
                        getPolls();
                    } else {
                        _sortBy = 0;
                        _sortDirection = 0;
                        getPolls();
                    }
                });

            $("#pollTableContainer").on("click",
                "th:nth-child(2)",
                function (e) {

                    var icon = e.currentTarget.children[0];
                    if (icon.classList.contains("fa-sort-amount-asc")) {
                        _sortBy = 1;
                        _sortDirection = 1;
                        getPolls();
                    } else {
                        _sortBy = 1;
                        _sortDirection = 0;
                        getPolls();
                    }
                });

            $("#pollTableContainer").on("click",
                "th:last-child",
                function (e) {

                    var icon = e.currentTarget.children[0];
                    if (icon.classList.contains("fa-sort-amount-asc")) {
                        _sortBy = 2;
                        _sortDirection = 1;
                        getPolls();
                    } else {
                        _sortBy = 2;
                        _sortDirection = 0;
                        getPolls();
                    }
                });

            $("#inputSearch").keypress(function (e) {
                if (e.which == 13) {
                    _searchText = $("#inputSearch").val();
                    getPolls();
                }
            });

            $("#btnSearch").click(function () {
                _searchText = $("#inputSearch").val();
                getPolls();
            });

            $("#clearSearch").click(function () {
                $("#inputSearch").val("");
                _searchText = "";

                getPolls();
            });

            $("body").on("click",
                ".previous",
                function () {
                    var page = parseInt($(".pagination-box").attr('placeholder')) - 1;
                    getPolls(page);
                });

            $("body").on("click",
                ".next",
                function () {
                    var page = parseInt($(".pagination-box").attr('placeholder')) + 1;
                    getPolls(page);
                });

            function getPolls(page = 1) {
                var jsonData = {
                    "SortBy": _sortBy,
                    "SortDirection": _sortDirection,
                    "SearchText": _searchText,
                    "PagingInfo": {
                        "ItemsPerPage": @Model.ItemsPerPage,
                        "CurrentPage": page
                    }
                };

                $.ajax({
                    url: '/Polls/RenderPollTable',
                    type: 'GET',
                    data: { json: JSON.stringify(jsonData) }
                }).done(function(partialViewResult) {
                    $("#pollTableContainer").html(partialViewResult);

                    switch (_sortBy) {
                    case 0:
                        _sortDirection == 0
                            ? $("#pollTable tr th:first-child i").removeClass("fa-sort-amount-desc")
                            .addClass("fa-sort-amount-asc").css("color", "yellow")
                            : $("#pollTable tr th:first-child i").removeClass("fa-sort-amount-asc")
                            .addClass("fa-sort-amount-desc").css("color", "yellow");
                        break;
                    case 1:
                        var iElement = $("#pollTable tr th:nth-child(2)").children("i");
                        _sortDirection == 0
                            ? iElement.removeClass("fa-sort-amount-desc")
                            .addClass("fa-sort-amount-asc").css("color", "yellow")
                            : iElement.removeClass("fa-sort-amount-asc")
                            .addClass("fa-sort-amount-desc").css("color", "yellow");
                        break;
                    case 2:
                        _sortDirection == 0
                            ? $("#pollTable tr th:last-child i").removeClass("fa-sort-amount-desc")
                            .addClass("fa-sort-amount-asc").css("color", "yellow")
                            : $("#pollTable tr th:last-child i").removeClass("fa-sort-amount-asc")
                            .addClass("fa-sort-amount-desc").css("color", "yellow");
                        break;
                    }
                });
            }
        });
    </script>
}
