@using SimpleVoter.Core.Enums
@{
    ViewBag.Title = "PollList";
}

<header class="main-header text-center">
    <h1 class="main-title">Poll list</h1>
    <p class="main-description">List of all public polls made by users around the world.</p>
</header>

<section id="pollListSection">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group search-bar">
            <span class="input-group-btn" data-toggle="tooltip" title="Clear search" data-placement="top">
                <button id="clearSearch" class="btn btn-blue" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
            </span>
            <input id="inputSearch" type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn" data-toggle="tooltip" title="Search" data-placement="top">
                <button id="btnSearch" class="btn btn-blue" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
        </div>
        <div id="pollTableContainer">
            @{ Html.RenderAction("RenderPollTable");}
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $(document).ready(function () {

            //$("#pollTableContainer").on("click", "tr", function (e) {
            //    window.location.href = "/Polls/Details/" + e.currentTarget.id;
            //});

            $("#pollTableContainer").on("click", "th:first-child", function (e) {

                var icon = e.currentTarget.children[0];
                if (icon.classList.contains("fa-sort-amount-asc")) {
                    getSortedPolls(0, 1);
                }
                else {
                    getSortedPolls(0, 0);
                }
            });

            $("#pollTableContainer").on("click", "th:nth-child(2)", function (e) {

                var icon = e.currentTarget.children[0];
                if (icon.classList.contains("fa-sort-amount-asc")) {
                    getSortedPolls(1, 1);
                }
                else {
                    getSortedPolls(1, 0);
                }
            });

            $("#pollTableContainer").on("click", "th:last-child", function (e) {

                var icon = e.currentTarget.children[0];
                if (icon.classList.contains("fa-sort-amount-asc")) {
                    getSortedPolls(2, 1);
                }
                else {
                    getSortedPolls(2, 0);
                }
            });

            $("#inputSearch").keypress(function (e) {
                if (e.which == 13)
                    getFilteredPolls();
            });

            $("#btnSearch").click(function () {
                getFilteredPolls();
            });

            $("#clearSearch").click(function () {
                $("#inputSearch").val("");

                getFilteredPolls();
            });

            function getSortedPolls(sortby, sortDirection) {
                $("#inputSearch").val("");
                $.ajax({
                    type: 'GET',
                    url: '/Polls/RenderPollTable',
                    data: { sortBy: sortby, sortDirection: sortDirection }
                }).done(function (partialViewResult) {
                    $("#pollTableContainer").html(partialViewResult);

                    switch (sortby) {
                        case 0:
                            sortDirection == 0
                                ? $("#pollTable tr th:first-child i").removeClass("fa-sort-amount-desc")
                                    .addClass("fa-sort-amount-asc").css("color", "yellow")
                                : $("#pollTable tr th:first-child i").removeClass("fa-sort-amount-asc")
                                    .addClass("fa-sort-amount-desc").css("color", "yellow");
                            break;
                        case 1:
                            sortDirection == 0
                                ? $("#pollTable tr th:nth-child(2) i").removeClass("fa-sort-amount-desc")
                                    .addClass("fa-sort-amount-asc").css("color", "yellow")
                                : $("#pollTable tr th:nth-child(2) i").removeClass("fa-sort-amount-asc")
                                    .addClass("fa-sort-amount-desc").css("color", "yellow");
                            break;
                        case 2:
                            sortDirection == 0
                                ? $("#pollTable tr th:last-child i").removeClass("fa-sort-amount-desc")
                                    .addClass("fa-sort-amount-asc").css("color", "yellow")
                                : $("#pollTable tr th:last-child i").removeClass("fa-sort-amount-asc")
                                    .addClass("fa-sort-amount-desc").css("color", "yellow");
                            break;
                    }
                });
            }

            function getFilteredPolls() {
                var searchText = $("#inputSearch").val();

                $.ajax({
                    type: 'GET',
                    url: '/Polls/RenderPollTable',
                    data: { searchText: searchText }
                }).done(function (partialViewResult) {
                    $("#pollTableContainer").html(partialViewResult);
                });
            }
        });
    </script>
}
